body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1,
h2 {
  color: #333;
}

form {
  margin-top: 20px;
}

input[type="file"] {
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

h3 {
  color: #333;
}

p {
  color: #666;
}

.imagePreview {
  max-width: 300px;
  margin-top: 20px;
  display: none;
}
